{% extends 'layout.html' %}

{% block title %}Cafe & Wifi{% endblock %}

{% block content %}
<!-- Title -->
<div id="background-photo">
    {% include "header.html" %}
    <section id="title">
        <!--<img class="m-auto" src="https://images.unsplash.com/photo-1521017432531-fbd92d768814?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80">
        <h1>Experience the ultimate work environment: efficient, focused, and unmatched.</h1>-->
        <h1>Coworking with a local twist</h1>
        <p>
            The ultimate resource for finding cafes that provide a perfect work environment.
        </p>
        <a class="btn btn-outline-light btn-lg custom-button" href="{{ url_for('get_all_cafes') }}" role="button">Explore cafes</a>
    </section>
</div>
<!-- Features -->
<section id="features">
    <div class="row">
        <div class="col-lg-4 feature-box">
            <i class="fas fa-chart-line fa-4x"></i>
            <h3>BOOST YOUR EFFICIENCY</h3>
            <p>Explore cafes with dependable Wi-Fi, plentiful power outlets,
                and comfortable seating arrangements to help you power through your workday.
            </p>
        </div>
        <div class="col-lg-4 feature-box">
            <i class="fas fa-users fa-4x"></i>
            <h3>JOIN THE COMMUNITY</h3>
            <p>Use data from our users to find the ideal times to work and connect with
                like-minded professionals at our recommended cafes.
            </p>
        </div>
        <div class="col-lg-4 feature-box">
            <i class="far fa-lightbulb fa-4x"></i>
            <h3>FUEL YOUR CREATIVITY</h3>
            <p>Discover inspiring new venues with relaxed atmospheres and friendly staff
                that will help you stay motivated and focused.
            </p>
        </div>
    </div>
</section>

<section id="reviews">
    <h3>WHAT OUR USERS ARE SAYING</h3>
    <div class="row">
        <div class="col-lg-4 review-box">
            <img src="static/images/april.jpg">
            <h4>April</h4>
            <small>Assistant at the Parks Department</small>
            <p>
                "I hate most things, but I love this website. It has helped me find some really
                cool cafes to work from. Plus, I found this one cafe that has a resident cat, and it's changed my life.
                Thank you, website, for making my workdays a little less miserable."
            </p>
        </div>
        <div class="col-lg-4 review-box">
            <img src="static/images/kelly.jpg">
            <h4>Kelly</h4>
            <small>Customer Service Representative - Dunder Mifflin</small>
            <p>
            "OMG, this website is the bomb.com. It's so easy to use and I found this one cafe with the cutest barista
                ever. I'm obsessed!"
            </p>
        </div>
        <div class="col-lg-4 review-box">
            <img src="static/images/tom.jpg">
            <h4>Tom</h4>
            <small>Founder of several entrepreneurial ventures</small>
            <p>
                "This website is like Yelp for people who want to get work done. It's slick, it's stylish, and it's got
                a lot of swag. Definitely adding this to my list of favorite websites."
            </p>
        </div>
    </div>
</section>
<section id="explore">
    <h3>TIME TO GET PRODUCTIVE!</h3>
    <a class="btn btn-outline-light btn-lg custom-button" href="{{ url_for('get_all_cafes') }}" role="button">Explore cafes</a>
    <a class="custom-link" href="{{ url_for('add_cafe') }}">Share your favourite laptop-friendly spot with the community!</a>
</section>
<section id="index-footer">
{% include "footer.html" %}
</section>


{% endblock %}
